<div id="comment_toggle">
  <span class="glyphicon glyphicon-chevron-down" style="padding-right:2px; font-size:14px"></span>
  Comments (<%= @event.event_comments.count %>)
</div>
<div id="comment-box"  >
  <%= render 'comments' %>
</div>
<div id="submit-comments"  >
  <%= render 'submitcomments' %>
</div>


  