/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "twitter/bootstrap";


span.stars, span.stars span {
    display: block;
    background: url('stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.calendar {
   margin: 2px auto;
   width: 64px;
   height: 64px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   float: left;
   display: inline;
   background: #ecf0f1;
   margin-right: 10px;
}

.header {
   height: 20px;
   background: #e74c3c;
   background: #f1c40f;
   -webkit-border-top-right-radius: 4px;
   -moz-border-radius-topright: 4px;
   border-top-right-radius: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-radius-topleft: 4px;
   border-top-left-radius: 4px;
   width: 64px;
   text-align: center;
   font-size: 12px;
   color: #FFF;
   line-height: 20px
}
 
.num-day {
   height: 44px;
   font-size: 36px;
   color: #333;
   text-align: center;
   padding-top: 8px;
}

.linkedspan { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 999;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('dot_clear.gif');
}   

.login-header {
   /* background: #84c1ae;  background: #84e6ae;*/
   padding-top: 5px;
   margin: 5px;
   -webkit-border-radius: 8px;
   border-radius: 8px;
   color: #000;
}
  
.login {
   -moz-border-radius: 8px;
   
   padding: 15px;
   color: #000;
  -webkit-border-bottom-right-radius: 8px;
   -moz-border-radius-bottomright: 8px;
   border-bottom-right-radius: 8px;
   -webkit-border-bottom-left-radius: 8px;
   -moz-border-radius-bottomleft: 8px;
   border-bottom-left-radius: 8px;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #fff;
    background-color: #47a447;  
    width: 18px;
    height: 18px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
   }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #006336;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      background: #47a447;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
