// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#yespopup {
    height: 90px;
    width: 90%;
    text-align: left;
    vertical-align:middle;
    background-color: white;
    border-color: #47a447;
    border-style: solid;
    border-width: 2px;
    color: black;
    display: none;
    padding-top: 8px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    
    z-index: 100;
}

.yesnames {
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 1px;
}

#nopopup {
    height: 90px;
    width: 90%;
    text-align: left;
    vertical-align:middle;
    background-color: white;
    border-color: #e74c3c;
    border-style: solid;
    border-width: 2px;
    color: black;
    display: none;
    padding-top: 8px;

}

.nonames {
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 1px;
}

#maybepopup {
    height: 90px;
    width: 90%;
    text-align: left;
    vertical-align:middle;
    background-color: white;
    border-color: #f1c40f;
    border-style: solid;
    border-width: 2px;
    color: black;
    display: none;
    padding-top: 8px;

}

.maybenames {
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 1px;
}

#event-comments {
    margin-top: 10px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #e0e0e0;
}

.textareafull {
    width: 100%;
    max-width: 100%;
}

#submitcomments {
    padding-bottom: 10px;
}

.commentheader {
  font-size: 11px;
  color: #666;
}

.commentbody {
  font-size: 11px;
  color: #000;
}

.commentdate {
  font-size: 9px;
  color: #999;
}

#comment_toggle {
  font-style: bold;
  font-size: 12px;
}




