<div id="myeventbuttons">
  <% if !@myevent %>
  <%= link_to "Add to my games", {:controller => "recurring_events", :action => "follow", :method => "get", :recurring_event_id => @recurring_event.id, :remote => true,}, :class => 'btn btn-success', :type => 'button' %>
  <% end %>
  <% if @myevent %>
  <%= link_to "Remove from my games", {:controller => "recurring_events", :action => "unfollow", :method => "get", :recurring_event_id => @recurring_event.id, :remote => true}, :class => 'btn btn-danger', :type => 'button' %>
  <% end %>
</div>