<h4 style="margin-top: 0px">Weekly Game</h4>
<div id='recurringEvents' >
  <%= render 'rec_event' %>  
</div>
<% if can? :destroy, @recurring_event %>
<%= "Current Time: " +Time.now.to_s %>
   <% if @recurring_event.next_gen_date %>
   <br>
     Next Gen: <%= @recurring_event.next_gen_date %>
   <% end %>
<% end %>
