<h4 style="margin-top: 0px">Weekly Game</h4>
<div id='recurringEvents' >
  <%= render 'rec_event' %>  
</div>
<% if can? :destroy, @recurring_event %>
<%= "Current Time: " +Time.zone.to_s %>
   <p>
     Next Gen: <%= @recurring_event.next_gen_date.localtime %>
<% end %>
