<h3 style="margin-top: 0px">Search for locations</h3>
<div id='nearbyLocations' >
  <%= render 'nearby' %>  
</div>
<br>
<div>
  <%= link_to "Add new location", new_location_path, :class => 'btn btn-primary' %>
</div>