<ul class="nav nav-list nav-stacked">
  <% if user_signed_in? %>
  <li class="nav-header">Welcome</li>
  <li class="divider"> </li>
  <li>
    <%= link_to('Upcoming Games', '/') %>
  </li>
  <li>
    <%= link_to('Find Weekly Games', '/recurring_events/nearby') %>
  </li>
  <li class="divider"> </li>
  <li class="nav-header">Other</li>
  <li>
    <%= link_to('My Weekly Games', '/rec_event_follows/mygames') %>
  </li>
  
  <li >
    <%= link_to('Locations', '/locations/nearby') %>
  </li>
  <% end %>
</ul>
